<?php    
    session_start();
?>

<html>
<head>
    <title>Trender-ForgotPassword</title>
    <link rel="stylesheet" href="/assets/mystyles.css">   
        <meta charset="UTF-8">   
    </head>
    <body>
        <nv>
            <nvli style="float: left;"><a href="/">Home</a></nvli>
            <% 
            if (!user)
            {%>
                <nvli><a href="/auth/signup/signup">Sign up</a></nvli>
                <nvli><a href="/auth/login/login">Login</a></nvli>
            <%}
            else
            {%>
                <nvli><a href="/auth/logout">Logout</a></nvli>
                <nvli><a href="/user/post">Post</a></nvli>
                <nvli><a href="/user/viewposts/0">View Posts</a></nvli>
                <nvli><a class=active href="/profile"><%= user.username %></a></nvli>
            <%}
            %>
        </nv>
    <div class="mainbox" style="align-items: center; justify-content: center;">
    <div class="formflexbox">
    <!-- when it comes to methods you have two

        one of them is GET which passes the infomation to the php file and makes
        the information being passsesd visible on the url.

        the other one is POST which does the same except it does not show on the url
        good for stuff like passwords.
    -->
    <form action="forgotpass" method="POST">
    <table>
        <tr>
            <td>email:</td>
            <td><input type="text" name="email" required></td>
        </tr>
        <tr>
            <td><button type="submit" name="submit">submit</button></td>
        </tr>
    </table>
    </form>
    </div>
    <!--messages-->
    </div>
    <br/>
</body>
</html>