<html>
<head>
    <title>Trender-password reset</title>
    <title>Trender-Gallery</title>
    <link rel="stylesheet" href="/assets/mystyles.css">
</head>
<body bgcolor=red>
    <nv>
        <nvli style="float: left;"><a href="/">Home</a></nvli>
        <nvli><a href="signup">sign up</a></nvli>
        <nvli><a class=active href="login.php">login</a></nvli>
    </nv>
    <% if (code) {%>
        <div class="mainbox" style="align-items: center; justify-content: center;">
        <div class="formflexbox">
            <form action="/auth/verifypassreset/<%=email%>/<%=code%>" method="POST">
                <table>
                    <tr>
                        <td>password:</td>
                        <td><input type="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" title="password must have alteast 8 characters, one capital and small letter, a number and an optional special character" required></td>
                    </tr>
                    <tr>
                        <td>repeat password:</td>
                        <td><input type="password" name="password_vr" required></td>
                    </tr>
                    <tr>
                        <td><button type="submit" name="submit">submit</button></td>
                    </tr>
                </table>
            </form>
        </div>
        
    <%}
    if (no_password_match == true){%>
        <div class="failflexbox">
        <table class=table>
            <tr>
                <td>Passwords must match.</td>
            </tr>
        </table>
        </div>
    <%}
    %>
    </br>
    </br>
    </div>
    </div>
    <br/>
</body>
</html>